.profile {
  padding-top: 74px;
  padding-bottom: 70px;
}

@media (max-width: 768px) {
  .profile {
    padding-top: 236px;
    padding-bottom: 269px;
  }
}

@media (max-width: 450px) {
  .profile {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}

.profile__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__name {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 auto 123px;
}

@media (max-width: 450px) {
  .profile__name {
    margin-bottom: 80px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 410px;
  margin-bottom: 220px;
}

@media (max-width: 768px) {
  .form {
    margin-bottom: 210px;
  }
}

@media (max-width: 450px) {
  .form {
    width: 260px;
    margin-bottom: 379px;
  }
}

.form__input {
  border: none;
  border-bottom: 1px solid #e8e8e8;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  padding-bottom: 16px;
}

.form__input:last-of-type {
  border-bottom: none;
}

.form__name_margin {
  margin-top: 0;
}

.form__name {
  text-align: right;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  -webkit-transform: translateY(10px);
}

.profile__instrument {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__accaunt {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
}

@media (max-width: 450px) {
  .profile__accaunt {
    line-height: 15px;
  }
}

.profile__accaunt_color {
  color: #ee3465;
  margin-bottom: 0;
}
