.moviesCardList {
  max-width: 1280px;
  padding: 80px 70px 30px;
}

@media (max-width: 900px) {
  .moviesCardList {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 450px) {
  .moviesCardList {
    padding: 50px 10px 30px;
  }
}

.moviesCardList__list {
  display: grid;
  gap: 24px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fit, 363px);
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 800px) {
  .moviesCardList__list {
    gap: 30px;
    row-gap: 36px;
    grid-template-columns: repeat(auto-fit, 339px);
  }
}

@media (max-width: 450px) {
  .moviesCardList__list {
    row-gap: 16px;
    grid-template-columns: repeat(auto-fit, 300px);
  }
}

.moviesCardList__else {
  max-width: 1280px;
  padding: 50px 0 80px;
  display: flex;
}

.moviesCardList__button {
  margin: 0 auto;
  width: 320px;
  height: 36px;
  border-radius: 6px;
  background-color: #f4f4f4;
  border: none;
  outline: none;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  cursor: pointer;
}

@media (max-width: 450px) {
  .moviesCardList__button {
    width: 240px;
  }
}

.moviesCardList__button:hover {
  opacity: 0.8;
}

.moviescardlist__notfound {
  display: flex;
  justify-content: center;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
}