.moviesCardList {
  max-width: 1280px;
  padding: 80px 70px 30px;
}

@media (max-width: 900px) {
  .moviesCardList {
    padding-left: 30px;
    padding-right: 30px;
  }
  
}

@media (max-width: 450px) {
  .moviesCardList {
    padding: 50px 10px 30px;
  }
  
}

.moviesCardList__list {
  display: grid;
  gap: 24px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fit, 363px);
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 800px) {
  .moviesCardList__list {
    gap: 30px;
    row-gap: 36px;
    grid-template-columns: repeat(auto-fit, 339px);
  }
}

@media (max-width: 450px) {
  .moviesCardList__list {
    row-gap: 16px;
    grid-template-columns: repeat(auto-fit, 300px);
  }
}

@media (max-width: 800px) {
  .moviesCardList__poster {
    width: 339px;
  }
  
}

@media (max-width: 450px) {
  .moviesCardList__poster {
    width: 300px;
  }
}

.moviesCardList__film {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.moviesCardList__about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}

.moviesCardList__name {
  margin: 14px 0 9px;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.moviesCardList__time {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  margin: 0 0 14px;
  color: #a0a0a0;
}

.moviesCardList__save {
width: 30px;
height: 30px;
border: none;
outline: none;
background-color: #ffffff;
}

