.header {
  background-color: #dddee3;
  width: 100%;
}
.header__content {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0 70px;
}

@media (max-width: 768px) {
  .header__content {
    padding: 0 30px;
  }
}

@media (max-width: 320px) {
  .header__content {
    padding: 0 14px;
  }
}

.header__logo {
  margin: 18px 0;
  width: 38px;
  height: 38px;
}

.menu {
  display: flex;
  align-self: center;
}

.menu__route {
  cursor: pointer;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  margin-left: 30px;
}

@media (max-width: 450px) {
  .menu__route {
    font-size: 10px;
    margin-left: 14px;
  }
}

.menu__route_border_yes {
  background: #3456f3;
  border-radius: 3px;
  color: #fff;
  padding: 8px 20px;
  align-self: center;
  box-sizing: border-box;
}

@media (max-width: 450px) {
  .menu__route_border_yes {
    padding: 4px 10px;
  }
}
