.registrer {
  max-width: 396px;
}

@media (max-width: 450px) {
  .registrer {
    max-width: 260px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.registrer__description {
  display: flex;
  flex-direction: column;
}

@media (max-width: 450px) {
  .registrer__description {
    align-items: center;
  }
}

.registrer__name {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 40px;
}

@media (max-width: 450px) {
  .registrer__name {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 80px;
  }
}

.form-registrer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-register__wrapper {
  margin-bottom: 69px;
}

@media (max-width: 450px) {
  .form-register__wrapper {
    margin-bottom: 157px;
  }
}

.form-registrer__input {
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 8px;
  height: 46px;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-bottom: 0;
  margin-bottom: 20px;
  padding-left: 15px;
  box-sizing: border-box;
  margin-top: 5px;
  border: none;
}

.form-registrer__input:last-of-type {
  margin-bottom: 10px;
}

.form-registrer__name {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 10px;
  color: #a0a0a0;
}

.form-registrer__error {
  color: #ee3465;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.form-registrer__button {
  border: none;
  outline: none;
  width: 396px;
  height: 45px;
  background-color: #3456f3;
  border-radius: 3px;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
}

@media (max-width: 450px) {
  .form-registrer__button {
    width: 260px;
    font-size: 12px;
    line-height: 15px;
  }
}

.form-registrer__button:hover {
  background-color: #3456f3;
  opacity: 0.8;
  border-radius: 3px;
}

.registrer__question {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
  margin-bottom: 70px;
}

@media (max-width: 450px) {
  .registrer__question {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 30px;
  }
}

.profile__accaunt_color {
  text-decoration: none;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #3456f3;
  margin-left: 6px;
}

@media (max-width: 450px) {
  .profile__accaunt_color {
    margin-left: 7px;
    font-size: 12px;
    line-height: 15px;
  }
}

.profile__accaunt_color:hover {
  color: #3456f3;
  opacity: 0.7;
}

.form-register__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
