.footer {
  width: 100%;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  background-color: #F8F8F8;;
}

.footer__content {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 79px 70px 20px;
}

@media (max-width: 768px) {
  .footer__content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 320px) {
  .footer__content {
    padding: 79px 10px 10px;
  }
}

.footer__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  margin: 0 0 20px;
}

@media (max-width: 320px) {
  .footer__title {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 21px;
  }
}

.footer__description {
  border-top: 1px solid #e8e8e8;
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 320px) {
  .footer__description {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 30px;
  }
}

.footer__data {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 0;
}

@media (max-width: 320px) {
  .footer__data {
    font-size: 12px;
    line-height: 15px;
    color: #a0a0a0;
  }
}

.footer__links {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.footer__link:last-of-type {
  margin-left: 20px;
}

@media (max-width: 320px) {
  .footer__links {
    flex-direction: column;
    margin: 0 0 30px;
  }

  .footer__link:last-of-type {
    margin: 0 auto;
  }
}

.footer__site {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  cursor: pointer;
}

@media (max-width: 320px) {
  .footer__site {
    font-size: 12px;
    line-height: 15px;
  }
}
