.aboutMe__project {
  max-width: 1280px;
  margin: 0 auto;
  padding: 110px 70px 125px;
}

@media (max-width: 768px) {
  .aboutMe__project {
    padding: 90px 50px;
  }
}

@media (max-width: 450px) {
  .aboutMe__project {
    padding: 70px 14px;
  }
}

.aboutMe__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 0 0 23px;
}

@media (max-width: 320px) {
  .aboutMe__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px;
  }
}

.aboutMe__about {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}

@media (max-width: 768px) {
  .aboutMe__about {
    padding-top: 66px;
  }
}

@media (max-width: 540px) {
  .aboutMe__about {
    padding-top: 60px;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.aboutMe__description {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

@media (max-width: 320px) {
  .aboutMe__description {
    margin-bottom: 20px;
  }
}

.aboutMe__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0 0 18px;
}

@media (max-width: 768px) {
  .aboutMe__name {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }
}

@media (max-width: 320px) {
  .aboutMe__name {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }
}

.aboutMe__job {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  mix-blend-mode: normal;
  margin: 0 0 26px;
}

@media (max-width: 768px) {
  .aboutMe__job {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .aboutMe__job {
    font-size: 11px;
    line-height: 16px;
  }
}

.aboutMe__myself {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  mix-blend-mode: normal;
  margin: 0 0 99px;
  max-width: 600px;
}

@media (max-width: 768px) {
  .aboutMe__myself {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 87px;
  }
}

@media (max-width: 320px) {
  .aboutMe__myself {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }
}

.aboutMe__git {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  margin: 0 0 101px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .aboutMe__git {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 91px;
  }
}

@media (max-width: 320px) {
  .aboutMe__git {
    margin-bottom: 70px;
  }
}

.aboutMe__portfolio {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  mix-blend-mode: normal;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 320px) {
  .aboutMe__portfolio {
    font-size: 14px;
  }
}

.aboutMe__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .aboutMe__photo {
    width: 255px;
    height: 307px;
  }
}

@media (max-width: 540px) {
  .aboutMe__photo {
    width: 292px;
    height: 352px;
    margin-bottom: 40px;
  }
}

.aboutMe__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-direction: flex-start;
}

.aboutMe__link {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding: 20px 0 19px;
  max-width: 1140px;
}

.aboutMe__link:last-of-type {
  border-bottom: none;
}
.aboutMe__site {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.aboutMe__name-site {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0;
}

@media (max-width: 768px) {
  .aboutMe__name-site {
    font-size: 28px;
  }
}

@media (max-width: 450px) {
  .aboutMe__name-site {
    font-size: 18px;
    line-height: 28px;
  }
}

.aboutMe__arrow {
  border-style: none;
  width: 18px;
}

@media (max-width: 450px) {
  .aboutMe__arrow {
    width: 12px;
  }
}
